In [9]:
#1. Consider a list (list = []). You can perform the following commands:

# insert i e: Insert integer e at position i.
# print: Print the list.
# remove e: Delete the first occurrence of integer e.
# append e: Insert integer e at the end of the list.
# sort: Sort the list.
# pop: Pop the last element from the list.
# reverse: Reverse the list.

lst= []
n=int(input("Enter number of Elements:"))

for i in range(0,n):
    element=int(input())
    
    lst.append(element)
print(lst)

Enter number of Elements:6
8
34
49
52
89
23
[8, 34, 49, 52, 89, 23]

In [10]:
# insert i e: Insert integer e at position i.

lst[3]=46
lst

[8, 34, 49, 46, 89, 23]

In [11]:
# remove e: Delete the first occurrence of integer e.

lst.remove(34)

In [12]:
# append e: Insert integer e at the end of the list.

lst.append(68)

In [13]:
# sort: Sort the list.

lst.sort()

In [14]:
#pop: Pop the last element from the list.

lst.pop()

89

In [17]:
# print: Print the list.

lst

[8, 23, 46, 49, 68]

In [18]:
# reverse: reverse the list.

lst[::-1]

[68, 49, 46, 23, 8]

In [24]:
# 2. Given an integer,n , and  space-separated integers as input, create a tuple,t , of those  integers. 
#Then compute and print the result of hash(t).

l=[]
n=int(input("Enter number of Elements:"))

for i in range(0,n):
    element=int(input())
    
    l.append(element)
t=tuple(l)
print(t)

Enter number of Elements:5
1
2
3
4
5
(1, 2, 3, 4, 5)

In [25]:
hash(t)

8315274433719620810

In [14]:
#3. The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 
#Print the average of the marks array for the student name provided, showing 2 places after the decimal.

d={}
da={}
lst= []
l=[]
n=int(input("Enter number of Students:"))
m=int(input("Enter number of Subjects:"))
for i in range(n):
    keys=input("Enter the name:")
    
    for i in range(0,m):
        marks=int(input("Enter the marks:"))
        lst.append(marks)
    d[keys]=lst
    da[keys]=round(sum(lst)/m,2)
    lst=[]
print(d)
print(da)

Enter number of Students:4
Enter number of Subjects:3
Enter the name:Raju
Enter the marks:23
Enter the marks:29
Enter the marks:24
Enter the name:Lekha
Enter the marks:27
Enter the marks:22
Enter the marks:25
Enter the name:Niranjan
Enter the marks:28
Enter the marks:22
Enter the marks:26
Enter the name:Ramana
Enter the marks:28
Enter the marks:25
Enter the marks:23
{'Raju': [23, 29, 24], 'Lekha': [27, 22, 25], 'Niranjan': [28, 22, 26], 'Ramana': [28, 25, 23]}
{'Raju': 25.33, 'Lekha': 24.67, 'Niranjan': 25.33, 'Ramana': 25.33}

In [41]:
# 4. Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score.
# You are given  scores. Store them in a list and find the score of the runner-up.

class_list = dict() 
lst=[]
s=[]
n=int(input("Enter number of participants:"))

for i in range(n):
    data = input('Enter name & score separated by ":" ') 
    temp = data.split(':') 
    class_list[temp[0]] = float(temp[1]) 
 
for key, value in class_list.items(): 
    s=lst.append(value)

print("Scores of the participants are:",lst)

#s.sort()
#print("Sorted list",s)
#print("Score of the runner-up:",s[1])

Enter number of participants:12
Enter name & score separated by ":" Rama:9.1
Enter name & score separated by ":" Venu:8.9
Enter name & score separated by ":" Ramya:8.8
Enter name & score separated by ":" Sahasra:9.8
Enter name & score separated by ":" Virat:9.3
Enter name & score separated by ":" Akash:8.7
Enter name & score separated by ":" Aditya:8.9
Enter name & score separated by ":" Tulasi:9.4
Enter name & score separated by ":" Jyotsna:9.2:
Enter name & score separated by ":" Suresh:9.6
Enter name & score separated by ":" Ramesh:9.5
Enter name & score separated by ":" Sowmya:9.7
Scores of the participants are: [9.1, 8.9, 8.8, 9.8, 9.3, 8.7, 8.9, 9.4, 9.2, 9.6, 9.5, 9.7]

In [50]:
lst.remove(max(lst))

In [53]:
print(lst)
print("Runner-up Score:",max(lst))

[8.7, 8.8, 8.9, 8.9, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7]
Runner-up Score: 9.7

In [60]:
#5. Ms. Gabriel Williams is a botany professor at District College. 
#One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

s=set()
n=int(input("Enter number of Plants:"))

for i in range(0,n):
    height=float(input("Enter height of the plant:"))
    
    s.add(height)
print(s)
print("Average height of the plant:",sum(s)/n)

Enter number of Plants:12
Enter height of the plant:5.4
Enter height of the plant:5.45
Enter height of the plant:5.8
Enter height of the plant:5.4
Enter height of the plant:5.3
Enter height of the plant:6.1
Enter height of the plant:6.8
Enter height of the plant:4.3
Enter height of the plant:4.8
Enter height of the plant:4.3
Enter height of the plant:6.1
Enter height of the plant:5.3
{4.3, 5.8, 5.45, 5.4, 6.1, 5.3, 6.8, 4.8}
Average height of the plant: 3.6624999999999996

In [65]:
#6. Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps
#in her collection. She asked for your help. You pick the stamps one by one from a stack of  country stamps.

s=set()
n=int(input("Enter number of Stamps:"))

for i in range(0,n):
    stamp=input("Enter the country of the stamp:")
    
    s.add(stamp)
print(s)
print("Distinct stamps:",s)
print("Number of unique stamps:",len(s))

Enter number of Stamps:15
Enter the country of the stamp:India
Enter the country of the stamp:France
Enter the country of the stamp:Germany
Enter the country of the stamp:USA
Enter the country of the stamp:Germany
Enter the country of the stamp:Russia
Enter the country of the stamp:Italy
Enter the country of the stamp:India
Enter the country of the stamp:India
Enter the country of the stamp:Germany
Enter the country of the stamp:Russia
Enter the country of the stamp:Italy
Enter the country of the stamp:USA
Enter the country of the stamp:France
Enter the country of the stamp:Russia
{'Germany', 'India', 'Italy', 'Russia', 'France', 'USA'}
Distinct stamps: {'Germany', 'India', 'Italy', 'Russia', 'France', 'USA'}
Number of unique stamps: 6

In [68]:
# 7. You have a non-empty set s, and you have to execute N commands given in N lines.
# The commands will be pop, remove and discard.

# Input Format

# The first line contains integer n, the number of elements in the set s.
# The second line contains n space separated elements of set s. All of the elements are non-negative integers, less than or 
# equal to 9.
# The third line contains integer N, the number of commands.
# The next N lines contains either pop, remove and/or discard commands followed by their associated value.

# Constraints:
    
    # 0 < n < 20
    # 0 < N < 20

# Output Format

# Print the sum of the elements of set s on a single line.

s=set()
n=int(input("Enter number of elements in the set:"))

for i in range(0,n):
    element=int(input())
    
    s.add(element)
print(s)

Enter number of elements in the set:10
12
14
6
8
5
3
9
1
17
13
{1, 3, 5, 6, 8, 9, 12, 13, 14, 17}

In [82]:
n=int(input("Enter number of commands to be operated on the set:"))

Enter number of commands to be operated on the set:5

In [69]:
s.pop()

1

In [71]:
s.remove(13)

In [75]:
s.discard(14)

In [77]:
s.discard(3)

In [80]:
s.pop()

5

In [81]:
print(s)

{6, 8, 9, 12, 17}

In [83]:
print("Sum of elements in the set:",sum(s))

Sum of elements in the set: 52

In [85]:
#8. The students of District College have subscriptions to English and French newspapers. Some students have subscribed only
# to English, some have subscribed to only French and some have subscribed to both newspapers.

# You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is 
# subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students 
# who have subscribed to at least one newspaper.

s=set()
e=[]
f=[]

n=int(input("Number of students subscribed for English Newspaper:"))
for i in range(0,n):
    ep=int(input("Roll no. of the student subscribed to English newspaper:"))
    e.append(ep)
    
m=int(input("Number of students subscribed for French Newspaper:"))
for i in range(0,m):
    fp=int(input("Roll no. of the student subscribed to English newspaper:"))
    f.append(fp)

Number of students subscribed for English Newspaper:15
Roll no. of the student subscribed to English newspaper:1
Roll no. of the student subscribed to English newspaper:8
Roll no. of the student subscribed to English newspaper:7
Roll no. of the student subscribed to English newspaper:16
Roll no. of the student subscribed to English newspaper:24
Roll no. of the student subscribed to English newspaper:29
Roll no. of the student subscribed to English newspaper:13
Roll no. of the student subscribed to English newspaper:15
Roll no. of the student subscribed to English newspaper:9
Roll no. of the student subscribed to English newspaper:6
Roll no. of the student subscribed to English newspaper:21
Roll no. of the student subscribed to English newspaper:17
Roll no. of the student subscribed to English newspaper:22
Roll no. of the student subscribed to English newspaper:28
Roll no. of the student subscribed to English newspaper:3
Number of students subscribed for French Newspaper:10
Roll no. of the student subscribed to English newspaper:15
Roll no. of the student subscribed to English newspaper:12
Roll no. of the student subscribed to English newspaper:9
Roll no. of the student subscribed to English newspaper:6
Roll no. of the student subscribed to English newspaper:23
Roll no. of the student subscribed to English newspaper:28
Roll no. of the student subscribed to English newspaper:2
Roll no. of the student subscribed to English newspaper:22
Roll no. of the student subscribed to English newspaper:3
Roll no. of the student subscribed to English newspaper:7

In [94]:
es=set(e)
print("Students subscribed for English Newspaper:",es)

fs=set(f)
print("Students subscribed for French Newspaper:",fs)

sub=es.union(fs)
print("Total number of students subscribed for atleast one newspaper:",len(sub))

Students subscribed for English Newspaper: {1, 3, 6, 7, 8, 9, 13, 15, 16, 17, 21, 22, 24, 28, 29}
Students subscribed for French Newspaper: {2, 3, 6, 7, 9, 12, 15, 22, 23, 28}
Total number of students subscribed for atleast one newspaper: 18

In [97]:
#9. The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to
# English, some have subscribed only to French, and some have subscribed to both newspapers.

# You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to 
# the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

both=es.intersection(fs)
print("Students subscribed for both newspapers:",both)
print("Total number of students subscribed for both newspapers:",len(both))

Students subscribed for both newspapers: {3, 6, 7, 9, 15, 22, 28}
Total number of students subscribed for both newspapers: 7

In [98]:
#10. Students of District College have a subscription to English and French newspapers. Some students have subscribed to only 
#the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.

#You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to 
#the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

diff=es.difference(fs)
print("Students subscribed for only English newspaper:",diff)
print("Total no. of students subscribed for only English newspaper:",len(diff))

Students subscribed for only English newspaper: {1, 8, 13, 16, 17, 21, 24, 29}
Total no. of students subscribed for only English newspaper: 8

In [99]:
#11. Your task is to find the total number of students who have subscribed to either the English or the French newspaper 
# but not both.

sd=es.symmetric_difference(fs)
print("Students subscribed to either English or French but not both newspapers:",sd)
print("Total no. of Students subscribed to either English or French but not both newspapers:",len(sd))

Students subscribed to either English or French but not both newspapers: {1, 2, 8, 12, 13, 16, 17, 21, 23, 24, 29}
Total no. of Students subscribed to either English or French but not both newspapers: 11

In [101]:
#12. Given 2 sets of integers,M and N, print their symmetric difference in ascending order. The term symmetric difference 
#indicates those values that exist in either M or N but do not exist in both.

sm=set()
sn=set()

m=int(input("Enter no. of integers in set M:"))

for i in range(0,m):
    melement=int(input()) 
    sm.add(melement)

n=int(input("Enter no. of integers in set N:"))

for i in range(0,n):
    nelement=int(input()) 
    sn.add(nelement)

print("Elements in set M:",sm)
print("Elements in set N:",sn)

Enter no. of integers in set M:8
12
23
24
18
16
29
13
21
Enter no. of integers in set N:10
23
24
13
17
21
10
5
8
19
27
Elements in set M: {12, 13, 16, 18, 21, 23, 24, 29}
Elements in set N: {5, 8, 10, 13, 17, 19, 21, 23, 24, 27}

In [105]:
sd=sm.symmetric_difference(sn)
print("Symmetric difference of the integers in the sets:",sd)

l=list(sd)  #To know the ascending order, convert the set into list & arrange in ascending sequence & then again convert to set.
l.sort()

asd=set(l)
print("Symmetric difference of the integers in the sets in increasing order:",asd)

Symmetric difference of the integers in the sets: {5, 8, 10, 12, 16, 17, 18, 19, 27, 29}
Symmetric difference of the integers in the sets in increasing order: {5, 8, 10, 12, 16, 17, 18, 19, 27, 29}

In [106]:
#13. You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations 
#on set A. Your task is to execute those operations and print the sum of elements from set A.

seta=set()
setb=set()
setc=set()
setd=set()

n=int(input("Enter number of integers in set A:"))

print("Enter integers into set A:")
for i in range(0,n):
    ea=int(input())
    seta.add(ea)

print("Enter integers into set B:")
for i in range(10):
    eb=int(input())
    setb.add(eb)
    
print("Enter integers into set C:")
for i in range(8):
    ec=int(input())
    setc.add(ec)
    
print("Enter integers into set D:")
for i in range(4):
    ed=int(input())
    setd.add(ed)

Enter number of integers in set A:15
Enter integers into set A:
13
12
25
29
7
4
18
6
19
21
3
28
36
43
59
Enter integers into set B:
25
29
21
18
12
9
6
4
67
43
Enter integers into set C:
43
21
29
32
39
19
12
16
Enter integers into set D:
34
9
19
28

In [107]:
print("set A:",seta)
print("set B:",setb)
print("set C:",setc)
print("set D:",setd)

set A: {3, 4, 36, 6, 7, 43, 12, 13, 18, 19, 21, 25, 59, 28, 29}
set B: {67, 4, 6, 9, 43, 12, 18, 21, 25, 29}
set C: {32, 39, 43, 12, 16, 19, 21, 29}
set D: {9, 34, 19, 28}

In [108]:
#update: 

seta.update(setd)
print(seta)

{3, 4, 6, 7, 9, 12, 13, 18, 19, 21, 25, 28, 29, 34, 36, 43, 59}

In [109]:
#intersection_update:

seta.intersection_update(setb)
print(seta)

{4, 6, 9, 43, 12, 18, 21, 25, 29}

In [114]:
seta.symmetric_difference_update(setc)
print(seta)

{32, 39, 43, 12, 16, 19, 21, 29}

In [115]:
print("Sum of elements in set A:",sum(seta))

Sum of elements in set A: 211

In [146]:
# 14. You are given two sets, A and B.
#Your job is to find whether set A is a subset of set B.

#If set A is subset of set B, print True.
#If set A is not a subset of set B, print False

set_a=set()
set_b=set()

n=int(input("Enter no. of test cases:"))

for i in range(n):
    print("Enter Test case:",i+1)
    sa=int(input("Enter no. of elements in set A:"))
    set_a=set()
    set_a=set(map(int,input().split()))
    
    sb=int(input("Enter no. of elements in set B:"))
    set_b=set()
    set_b=set(map(int,input().split()))
    
    print("Whether set A is subset of set B:",set_a.issubset(set_b))

Enter no. of test cases:3
Enter Test case: 1
Enter no. of elements in set A:5
1 2 3 5 6
Enter no. of elements in set B:9
9 8 5 6 3 2 1 4 7
Whether set A is subset of set B: True
Enter Test case: 2
Enter no. of elements in set A:1
2
Enter no. of elements in set B:5
3 6 5 4 1
Whether set A is subset of set B: False
Enter Test case: 3
Enter no. of elements in set A:7
1 2 3 5 6 8 9
Enter no. of elements in set B:3
9 8 2
Whether set A is subset of set B: False

In [ ]:
lst = [int(i) for i in input().split()][:3]

In [151]:
#15. You are given a set  and  other sets.
#Your job is to find whether set A is a strict superset of each of the N sets.

#Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

#A strict superset has at least one element that does not exist in its subset.

set_a=set()
set_b=set()
set_c=set()

sa=int(input("Enter no. of elements in set A:"))
set_a=set(map(int,input().split()))
    
print("Enter no. of other sets:", int(input()))

sb=int(input("Enter no. of elements in set B:"))
set_b=set(map(int,input().split()))
    

sc=int(input("Enter no. of elements in set C:"))
set_c=set(map(int,input().split()))
    
print("Whether set A is a strict superset of set B:",set_a.issuperset(set_b))
print("Whether set A is a strict superset of set C:",set_a.issuperset(set_c))

Enter no. of elements in set A:16
1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
Enter no. of other sets: 2
Enter no. of elements in set B:5
1 2 3 4 5
Enter no. of elements in set C:3
100 11 12
Whether set A is a strict superset of set B: True
Whether set A is a strict superset of set C: False

In [164]:
#16. Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) 
#of any student(s) having the second lowest grade.

#Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name 
#on a new line.

n=int(input("Enter number of students:"))
    
marks= [[input(), float(input())] for _ in range(n)]
    
print(marks)

Enter number of students:5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]

In [158]:
second_highest = sorted(list(set([marks for name, marks in marks])))[1]
print('\n'.join([a for a,b in sorted(marks) if b == second_highest]))

Berry
Harry

In [167]:
#17. You are given three integers x,y and z representing the dimensions of a cuboid along with an integer n. Print a list of all
#possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n.
# Please use list comprehensions rather than multiple loops, as a learning. Print the list in lexicographic increasing order.


x = int(input())
y = int(input())
z = int(input())
n = int(input())
print( [[i,j,k] for i in range( x + 1) for j in range( y + 1) for k in range(z+1) if ( ( i + j + k ) != n )  ])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [19]:
#18. There is an array of  integers. There are also  disjoint sets, A and B, each containing  integers. Like all the integers 
# in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if , i E A add
# to your happiness. If i E B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final 
#happiness at the end.

happiness = 0
set_a = set()
set_b = set()
set_c = set()

n,m = input().split()
n = int(n)
m = int(m)
set_c=set(map(int,input().split()))
set_a=set(map(int,input().split()))
set_b=set(map(int,input().split()))

for i in set_c:
    if(i in set_a):
        happiness+=1
    if(i in set_b):
        happiness-=1
print("Final Happiness",happiness)

3 2
1 5 3
3 1
5 7
Final Happiness 1

In [13]:
#19. Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

# One fine day, a finite number of tourists come to stay at the hotel.
#The tourists consist of:
#→ A Captain.
#→ An unknown group of families consisting of K members per group where K ≠ 1.

#The Captain was given a separate room, and the rest were given one room per group.

#Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the 
#tourists. The room numbers will appear K times per group except for the Captain's room.

#Mr. Anant needs you to help him find the Captain's room number.
#The total number of tourists or the total number of groups of families is not known to you.
#You only know the value of K and the room number list.


k = int(input())
#lst = [int(input(), split(''))]
lst = [int(i) for i in input().split()]
l = len(lst)

for i in range(0,l):
    counter = 0
    for j in range(0,l):
        if(i!=j):
            if(lst[i]==lst[j]):
                counter = 1
                continue
    if(counter == 0):
        print(lst[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8